$color-black: rgb(25,25,25);
$color-gold: rgb(178,150,0);
$color-red: rgb(204,40,40);
$color-grey-border: rgb(173,169,150);
$color-grey-hover: rgb(214,212,202);
$color-grey-background-button: rgb(230,229,223);
$color-grey-background: rgb(242,242,242);