@import '../../sass/var.scss';

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    .portfolio-container__table {

        > tbody > tr, th, td  {
            padding: 0.5rem;
        }

        .input-portfolio {

            > data {
                background: $color-grey-background-button;
                transition: background linear 1s;
            }
        }

        .input-portfolio:hover > data {
            background: $color-grey-hover;
        }
        .delete-all-button {
            color: $color-red;
            width: 100px;

        }
        }
}

.data__price-portfolio, .data__type, .data__quantity, .data__spent {
    display: none;
}

@media screen and (min-width: 415px) {
    .portfolio-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .data__price-portfolio, .data__type, .data__quantity, .data__spent {
        display: table-cell;
    }
}