@import '../../sass/var.scss';

.home-container {
     padding: 1rem;
     text-align: center;

     .home-container__table {
        margin: auto;

        > tbody > tr, th, td  {
            padding: 0.5rem;
        }
     }

    > hr { 
        width: 75%;
    }
}

.favourite {
    font-weight: bold;
}

.data__type, .data__coin {
    text-transform: capitalize;
}

.data__market-cap, .data__volume, .data__change {
    display: none;
}

@media screen and (min-width: 415px) {

    .data__market-cap, .data__volume, .data__change {
        display: table-cell;
    }

    .data__coin-link:hover {
        color: $color-gold;
    }

}